body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-image:url(images/background4.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    padding: 0%;

}
.csi_logo{
    position: fixed;
    margin: 0;
    padding: 0;

}
.header{
    
}
    a:link{
        color:white;
        text-decoration:none;
        font-family: Arial;
        letter-spacing: 5px;
        margin:6px;
        font-size: 25px;
    }
    a:visited{
        color:white;
    }
    a:hover{
        color: red;
    }
    a:active{
        color:green;
    }
    .vacanza_logo{
       margin: 6% 50% 0 43%;
        color: honeydew;
        -webkit-transition: -webkit-transform 1s;
        opacity: 0.9;
    }
    .vacanza_logo:hover{
        -webkit-transform: rotate(480deg) translateZ(0);
    }
    .svg{
        width: 50%;
        margin: 0 auto 0 auto;
    }
    div.button{
        font-family: Arial;
        padding: 2%;
        border:white solid 2px;
        border-radius: 20px;
        color: white;
        font-size: 200%;

    }
    #num1{
        width: auto;
        margin-left: 30%;
        float: left;
    }
    #num2{
        width: auto;
        margin-right: 30%;
        float: right;
    }
    .main{
        background-color: gray;
    }
    h2{
        color: black;
    }
    hr{
        width: 100%;
    }
    .rules{
        color: green;
        border: green solid 2px;
        padding: 5px;
        float: left;
        margin-top: 5px ;
    }
    .box{
        color: gray;
        width: 90%;
        margin: 50px auto 50px auto;
        padding: 10px 10px 10px 10px;
        background-color: white;
        word-spacing: 5px;
        font-size: 30px;
    }

    .box1{
        width: 17%;
        float: right;
    }

    .box2{
        width: 20%;
        float: left;

    }

    .box3{
        width: 15%;
        float: right;
    }
    .footer{
        width: 90%;
        margin: 30px auto 30px auto;
        background-image: url(images/footer.png);
        padding: 5%;
        text-align: center;
        font-size: 30px;
    }

